<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.staceybellerose.randomwordgenerator">

    <application
        android:name="com.staceybellerose.randomwordgenerator.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangelogActivity"
            android:label="@string/title_activity_changelog"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".MyLibsActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".WordListDetailsActivity"
            android:label="@string/title_activity_word_list_info"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>